//Css de la Card de Ionic
#carta{
    width: 350px;
}

ion-avatar{
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

#nomTitlt{
    padding-left: 10px;
    font-size: 1.5em;
    color: rgb(43, 52, 226);
    font-weight: bold ;
}

#title{
    padding-left: 20px;
}
  
#info{
    padding-left: 50px;
}
