<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Card de Ionic-->
  <div class="cards">
    <!--Con lo de *ng hacemos un ForEach de los usuarios que hemos creado en user.service.ts y la etiqueta es del compoente de la tarjeta-->
    <app-user-info 
    appHighlight 
    *ngFor="let user of ((users.users$ | async) | favs:(favs.favs$ | async)); let i = index"
    [usuario]="user"
    (onCardClicked)="onCardClicked(user)"
    (onFavClicked)="onFavClicked(user, $event)" 
    (deleteClicked)="onDeleteClicked(user)"> 
    </app-user-info>
  </div>

  <!--Para ir a Welcome-->
  <ion-button (click)="welcome()">Ir al welcome</ion-button>
  <!--Para  que salga el boton de añadir usuario y aparezca el modal-->
  <ion-button fill="clear" aria-label="New User" (click)="onNewUser()">
    <ion-icon slot="icon-only"  color="primary"  name="add-outline" aria-hidden="true"></ion-icon>
  </ion-button>

  <!--Para esperar que cargue todo-->
  <ion-loading [isOpen]="loading" class="custom-loading" message="Loading..."></ion-loading>
</ion-content>
